* {
  padding: 0;
  margin: 0;
}
.game {
  margin-top: 150px;
}
.developer{
    color:#7851A9;
    font-size: 15px;
    text-shadow: 8px 8px 8px 12px rgb(207, 0, 0);
}
body {
  background-color: #f5fffa;
  background-size: cover;
  background-image: url("bg4.png");
}
.gamebar {
  background-color: #bfd4bf;
  height: 60px;
  display: flex;
  color: #2c342c;
  justify-content: center;
  box-shadow: 8px 8px 12px #67309a;
}
.main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.gamename {
  font-size: 40px;
  text-align: center;
}
#rock {
  background-image: url("rock.webp");
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgb(0, 0, 0);
}
#rock:hover {
  box-shadow: 6px 6px 12px rgb(255, 0, 0);
  border-radius: 50%;
}
#paper {
  background-image: url("paper.webp");
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgb(0, 0, 0);
}
#paper:hover {
  box-shadow: 6px 6px 12px rgb(255, 0, 208);
  border-radius: 50%;
}
#scissor {
  background-image: url("scissors.webp");
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgb(0, 0, 0);
}
#scissor:hover {
  box-shadow: 6px 6px 12px rgba(0, 158, 243, 1);
  border-radius: 50%;
}
.u1 {
  background-color: rgb(4, 157, 223);
  border-radius: 8px;
  width: 200px;
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.u1:hover {
  background-color: orange;
}
.c1 {
  background-color: rgb(4, 157, 223);
  border-radius: 8px;
  width: 200px;
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.userscore {
  background-color: orange;
  width: 200px;
  border-radius: 8px;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.userscore:hover {
  background-color: rgb(4, 157, 223);
}
.compscore:hover {
  background-color: rgb(4, 157, 223);
}
.compscore {
  background-color: orange;
  width: 200px;
  border-radius: 8px;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.c1:hover {
  background-color: orange;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  font-size: 30px;
  gap: 250px;
}
.msg {
  background-color: rgb(12, 77, 121);
  color: rgb(255, 255, 255);
  height: 40px;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 100px;
  padding: 4px;
  border-radius: 8px;
  transition: margin-right, height;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.msg:hover {
  margin-right: 100px;
  height: 45px;
}
.final {
  background-color: #ff3ea5;
  color: white;
  height: 60px;
  width: 500px;
  font-size: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 500px;
  margin-top: 0px;
  padding: 4px;
  gap: 100px;
  border-radius: 8px;
  transition: background-color, width, height, color,gap;
  transition-timing-function: ease-in-out;
  transition-duration: 1.5s;
}
.final:hover {
  background-color: gold;
  width: 800px;
  height: 70px;
  color: black;
  gap:400px;
}
.final1 {
  margin-left: ;
}
.addwinner {
  margin-left: 180px;
}
.instchoice {
  display: flex;
  gap: 900px;
}
.choiceu {
  background-color: #f8b0c0;
  border-radius: 8px;
  height: 40px;
  color: #7a5c58;
  font-size: 30px;
  width: 300px;
  text-align: center;
  margin-left: 25px;

  transition-timing-function: ease-in-out;
  transition: height,background-color;
  transition-duration: 1s;
}
.choiceu:hover {
  height: 50px;
  background-color: #ff007f;
}
.choicec {
  background-color: #f8b0c0;
  border-radius: 8px;
  height: 40px;
  color: #7a5c58;
  font-size: 30px;
  width: 300px;
  margin-right: 25px;
  text-align: center;

  transition-timing-function: ease-in-out;
  transition: height,background-color;
  transition-duration: 1s;
}
.choicec:hover {
  height: 50px;
  background-color: #ff007f;
}
